li{
    list-style-type: none;
    margin: 0;
    padding-left: 27px;
    display: inline;
    font-size: 13px;
    color: #5f6368;
    font-family: arial, sans-serif;
}

.center{
    text-align: center;
    position: relative; top: 148px;
}

.button{
    text-align: center;
    position: relative; top: 150px;
    
   
}

a{
    text-decoration: none;
    color: #5f6368;
}

.rfooter{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
}

.lfooter{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 25px;
}

.signin{
    background-color: #4387fd;
    color: white;
    padding: 3px 15px;
    margin-left: 27px;
    font-weight: bold;
}

input{

}