li{
    list-style-type: none;
    margin: 0;
    padding-left: 27px;
    display: inline;
    font-size: 13px;
    color: #5f6368;
    font-family: arial, sans-serif;
}

.center{
    text-align: center;
    position: relative; top: 148px;

    
}

.button{
    text-align: center;
    position: relative; top: 150px;
    background-color: #F2F2F2;
    margin: 11px 4px;
    padding: 0px 16px;
    border: none;
    
}

.footer{
    position: fixed;
    bottom: 0;
   
}

.signin{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #f2f2f2;
    
}